@model LiteCommerce.Admin.Models.ProductPaginationResult
@{
    ViewBag.Title = "Manage Products";
    int i = 0;
}
<div class="box box-primary">
    <div class="box-body">
        <form action="~/Product" method="GET">
            <div class="row">
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Category, SelectListHelper.Categories(), new { @class = "form-control" })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Supplier, SelectListHelper.Suppliers(), new { @class = "form-control" })
                </div>
                <div class="col-sm-5 input-group">
                    @Html.TextBoxFor(m => m.SearchValue, new { @class = "form-control", @placeholder = "Input search value..." })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                
            </div>
        </form>
    </div>
</div>
<form action="~/Product/Delete" method="post">
    <div class="container-fluid row margin-bottom">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> Products. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Product/Input" class="btn btn-sm btn-primary">Add Product</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete Products</button>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox" />
                        </th>
                        <th style="width:50px">#</th>
                        <th style="width:auto">Name</th>
                        <th style="width:80px">Quantity</th>
                        <th style="width:100px">Price</th>
                        <th style="width:300px">Description</th>
                        <th style="width:280px">Photo</th>
                        <th style="width:60px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Data)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="productIDs" value="@product.ProductID" />
                            </td>
                            <td>@(++i)</td>
                            <td>
                                <span class="">
                                    @product.ProductName
                                </span>
                            </td>
                            <td>
                                <p style="display:block">@product.QuantityPerUnit</p>
                            </td>
                            <td>
                                <p>@product.UnitPrice</p>
                            </td>
                            <td>
                                <p>@product.Descriptions</p>
                            </td>
                            <td>
                                <img src="~/Images/uploads/@product.PhotoPath" style="height:100px; width:100px" />
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-primary" href="~/Product/Input/@product.ProductID/">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix text-center">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="~/Product?page=1&searchValue=@Model.SearchValue">«</a></li>
                @for (int page = 1; page <= Model.PageCount; page++)
            {
                if (page == Model.Page)
                {
                        <li class="active"><a href="#">@page</a></li>
                    }
                    else
                    {
                        <li><a href="~/Product?page=@page&searchValue=@Model.SearchValue">@page</a></li>
                    }
                }
                <li><a href="~/Product?page=@Model.PageCount&searchValue=@Model.SearchValue">»</a></li>
            </ul>
        </div>
    </div>
</form>

